ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0;
}
ion-header {
    --border-width: 0;
}
.inner-scroll, ion-content{
    --padding-top: 0;
}

.cover-page {
    height: 18em;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover
}

.container-content {
    padding: 1em;
    margin-top: -2em;
    position: absolute;
    border-radius: 20px 20px 0 0;
    background-color: var(--ion-color-light);
    height: 65vh;
    box-shadow: 2px -9px 21px -5px rgba(0,0,0,0.75);
    position: relative;    
}
.footer-content {
    position: absolute;
    bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ion-button{
        background-color: #566b94;
    }
}


.fav-container {
    position: absolute;
    right: 0;
    // background-color: rgba($color: #000000, $alpha: .5);
    z-index: 99;
    border-radius: 0 0 0 10px;
    ion-icon {
        font-size: 2.5em;
    }
}